<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
            <meta name='viewport' content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }} ">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

            <!--Bootstrap-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <title>{%block title%}{%endblock%}</title>
    </head>
    <body> 
        <header id="header" class="mb-3">
            <nav class="navbar navbar-light navbar-expand-sm bg-warning">
                <!--Logo-->
                <a href="/" class="navbar-brand" style="font-size: 2em;">Uniescolar</a>

                <!--Botão-->
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navegacao"><span class="navbar-toggler-icon"></span>
                </button>

                <!--Navegação-->
                <div class="collapse navbar-collapse" id="navegacao">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/cadastro" class="nav-link">Transportador</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formulario">Formulário</a>

                            <!--<a tabindex="0" class="nav-link" role="button" data-toggle="popover" data-trigger="focus" title="Status" data-content="Em Construção!">Responsaveis</a>-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="escola">Escola</a>

                            <!--<a tabindex="0" class="nav-link" role="button" data-toggle="popover" data-trigger="focus" title="Status" data-content="Em Construção!">Escola</a>-->
                        </li>
                        <li class="nav-item">
                            <a href="/consultar" class="nav-link">Consultar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Conteudo -->
        {%block content%}{%endblock%}
        
        <script>
            (function(d)
            {var s = d.createElement("script");

            /* Attributes customs */
            s.setAttribute("data-size", "large");
            s.setAttribute("data-color", "#5e3a4e"); 
            s.setAttribute("data-mobile", true);

            /* Attributes Needed */
            s.setAttribute("data-account", "rlAuTf3ji5");
            s.setAttribute("src","https://cdn.userway.org/widget.js");
            (d.body || d.head).appendChild(s);})(document)
        </script>
        <noscript>
        Please ensure Javascript is enabled for purposes of 
        <a href="https://userway.org">website accessibility</a>
        </noscript>
        
    </body>
</html>