{%extends 'base.html'%}
{%block title%}Cadastro{%endblock%}
{%block content%}
<section id="cadastro">
    <div id="card">
        <h4>Cadastro do Transportador</h4>

            <form action="/cadastro" method="POST">
                <div class="label-float">
                    <input type="text" id="nome" name="nome" placeholder=" " required >
                    <label for="">Nome</label>
                </div>

                <div class="label-float">
                    <input type="text" id="cpf" name="cpf" placeholder=" " required >
                    <label for="">CPF</label>
                </div>

                <div class="label-float">
                    <input type="text" id="end" name="end" placeholder=" " required >
                    <label for="">Endereço</label>
                </div>

                <div class="label-float">
                    <input type="text" id="email" name="email" placeholder=" " required >
                    <label for="">E-mail</label>
                </div>
                
                <div class="justify-center">
                    <button type="submit" class="btn" id="btn_cadastrar">Cadastrar</button>
                    <a href="/" class="btn">Voltar</a>
                </div>

            </form>
    </div>
</section>
{%endblock%}