{%extends 'base.html'%}

{%block title%}Cadastro{%endblock%}

{%block content%}
<section id="cadastro">
    <div id="card">
        <h4></h4>

            <form action="/cadastro" method="POST">

                <div id="texto-cadastro">
                    <p style="font-family: Arial, Helvetica, sans-serif;" class="h6">   
                      A BWR soluções agradece o seu cadastro!!! Logo entraremos em contato Obrigado 
                    </p>
                </div>

                <div class="label-float">
                    <input type="text" id="nome" name="nome" placeholder=" " required >
                    <label for="">Nome</label>
                </div>

                <div class="label-float">
                    <input type="text" id="cpf" name="cpf" placeholder=" " required >
                    <label for="">CPF</label>
                </div>

                <div class="label-float">
                    <input type="text" id="end" name="end" placeholder=" " required >
                    <label for="">Endereço</label>
                </div>

                <div class="label-float">
                    <input type="text" id="email" name="email" placeholder=" " required >
                    <label for="">E-mail</label>
                </div>

                <div class="label-float">
                    <input type="text" id="telefone" name="telefone" placeholder=" " required >
                    <label for="">Telefone</label>
                </div>

                <div>
                    <input type="radio" id="pais" name="tipo_cliente" value="Pais">
                    <label for="pais" class="mr-5">Cei</label>
               
                    <input type="radio" id="transportador" name="tipo_cliente" value="Transportador">
                    <label for="transportador" class="mr-5">Emef</label>
                
                    <input type="radio" id="escola" name="tipo_cliente" value="Escola">
                    <label for="escola">Escola</label>
                </div>
                
                <div class="justify-center">
                    <button type="submit" class="btn" id="btn_cadastrar">Cadastrar</button>
                    <a href="/" class="btn">Voltar</a>
                </div>
                                  

            </form>
    </div>
</section>
{%endblock%}