{%extends 'base.html'%}

{%block title%}Escolar{%endblock%}

{%block content%}

    
    <article class="w-75 m-auto bg-white rounded">

            <section id="find_school" class="p-3">
                <h2 class="">Escolas Parceiras!!</h2>
                <!--Selecionar escolas-->
                <ul class="nav nav-tabs mb-2" role="tablist">
                    
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="santa_brigida_tab" data-toggle="tab" href="#santa_brigida" aria-controls="santa_brigida" aria-selected="true">Colégio Santa Brigida</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="kodomo_tab" data-toggle="tab" href="#kodomo" aria-controls="kodomo" aria-selected="false">Colégio Kodomo</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="municipal_kleber_tab" data-toggle="tab" href="#munincipal_kleber" aria-controls="munincipal_kleber" aria-selected="false">Escola Munincipal Kléber</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link disabled">Em breve...</a>
                    </li>
                </ul>
                
            </section>

            <section id="choice_find_school">

                <!--Visualizar escola-->
                <div class="tab-content" id="content_map">

                    <!--Santa Brigida-->
                    <div class="tab-pane fade show active" id="santa_brigida" role="tabpanel" aria-labelledby="santa_brigida_tab">

                        <!--API Google Maps-->
                        <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5176.534383701751!2d-46.6955938116338!3d-23.447382895851657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefa24a4243143%3A0xee3ee0242c517033!2sEscola%20Estadual%20Doutor%20Gen%C3%A9sio%20de%20Almeida%20Moura!5e0!3m2!1spt-BR!2sbr!4v1638017221028!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>

                        <!--Transportadores Escolares
                        <section id="find_driver" class="p-4">
                            <h2>Transportadores Escolares</h2>
            
                            <div class="card-columns">
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Alex </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Paulo </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                            </div>
                            
                        </section>-->
                    </div>
                    <!--FIM - Santa Brigida-->

                    <!--Kodomo-->
                    <div class="tab-pane fade" id="kodomo" role="tabpanel" aria-labelledby="kodomo_tab">

                        <!--API Goole Maps-->
                        <div>
                            <iframe class="border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2587.833235902705!2d-46.74807518056958!3d-23.46952176713004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefc00a021e157%3A0x483799f40398b55c!2sCol%C3%A9gio%20Kodomo%20Escola%20Particular%20em%20Pirituba%20na%20Vila%20Clarice%20no%20Jaragu%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1637964976144!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>

                        <!--Transportadores Escolares
                        <section id="find_driver" class="p-4">
                            <h2>Transportadores Escolares</h2>
            
                            <div class="card-columns">
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Alex </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015 com climatizador de ar</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Paulo </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Rodrigo </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                            </div>
                            
                        </section>-->

                    </div>
                    <!--FIM - Kodomo-->

                    <!--Munincipal Kléber-->
                    <div class="tab-pane fade" id="munincipal_kleber" role="tabpanel" aria-labelledby="munincipal_kleber_tab">

                        <!--API Goole Maps-->
                        <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8702.377372858966!2d-46.70986067344447!3d-23.500148273210108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef84d08b08a01%3A0x210443523c26572f!2sE.%20E.%20Prof%20J%C3%A1como%20St%C3%A1vale!5e0!3m2!1spt-BR!2sbr!4v1638017994742!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>

                        <!--Transportadores Escolares
                        <section id="find_driver" class="p-4">
                            <h2>Transportadores Escolares</h2>
            
                            <div class="card-columns">
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Alex </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                            </div>
                            
                        </section>-->

                    </div>
                    <!--FIM - Munincipal Kléber-->

                </div>
            </section>

    </article> 

{%endblock%}    
         
