{%extends 'base.html'%}

{%block title%}Formulario{%endblock%}

{%block content%}
                
        <main>
            
            <article>
                 <!--Imagems-->
            <section id="content" class="mb-5">
                <div id="banners" class="m-auto w-75">
                    <!--<img src="../static/img/Matrículas Abertas 2022 KODOMO (CAPA).png" class="img-fluid mb-5">-->
                    <img src="../static/img/FORMULARIOB.png" class="img-fluid mb-5 border-img">
                </div>
                <div id="texto" class="m-auto w-75">
                    <p> 
                        Preencha o formulário com os dados solicitados, O cadastro é obrigatório para a emissão dos boletos do transporte escolar.
                    </p>
                    <p>    
                        Leia o contrato com atenção e baixe uma cópia para você.  
                    </p>
                    <!--API Gfons-->
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSealkpA22UB4nIV7aWKR6jaWp1yVCaDsYuObnOBnznhlovqHQ/viewform?embedded=true" target="blank">Ficha de Cadastrtro do Transporte Escolar</a>
                </div>
               
            </article>
        </main>

{%endblock%}        
   

</html>