{%extends 'base.html'%}

{%block title%}UniEscolar{%endblock%}

{%block content%}
        

        <article>
            <!--Imagems-->
            <section id="content" class="mb-5">
                <div id="banners" class="m-auto w-75">
                  <img src="../static/img/transporte1.jpg" class="img-fluid mb-5 border-img">
                </div>

                <div id="texto" class="m-auto w-75">
                    <p> 
                        Verifique se o transporte escolar que você está contratando para seu(s) filho(s) é legalizado junto ao município de São Paulo, e portanto cumpre as exigências obrigatórias para a prestação deste serviço tão sério e importante para a sociedade.
                    </p>
                    <p>    
                        Para fazer essa consulta, basta que você tenha em mãos o número da PLACA DO VEÍCULO, número da LICENÇA DO VEÍCULO (número afixado na lateral do veículo), o CPF do motorista ou o NOME DA EMPRESA de transporte escolar.
                    </p>
                    
                    <!--<a href="http://www3.prefeitura.sp.gov.br/smt/pesqtranspub.php" target="blank">Pesquisa Veiculos Autorizados</a>-->
                </div>
            </section>
        </article>
  

{%endblock%}        