{%extends 'base.html'%}

{%block title%}UniEscolar{%endblock%}

{%block content%}
        

        <article>
            <!--Imagems-->
            <section id="content" class="mb-5">
                <div id="banners" class="m-auto w-75">
                  <img src="../static/img/transporte01.jpg" class="img-fluid mb-5 border-img">
                </div>

                <div id="texto" class="m-auto w-75">
                    <p style="font-family: Arial, Helvetica, sans-serif;"> 
                        Sabemos como é difícil para uma instituição de ensino indicar um transporte Escolar de qualidade e confiável 
                    </p>

                    <div>
                      <img src="../static/img/colegio02.jpg" class="img-fluid mb-5 border-img">
                    </div>

                    <p style="font-family: Arial, Helvetica, sans-serif;">    
                        Para o profissional do transporte Escolar capitar clientes em uma instituição de ensino não é fácil     
                    </p>

                    <div>
                        <img src="../static/img/negocio03.jpg" class="img-fluid mb-5 border-img">
                    </div>

                    <p style="font-family: Arial, Helvetica, sans-serif;">    
                        Com tantas dificuldades para uma instituição de ensino, para o profissional do transporte Escolar e também para os responsáveis do aluno, surgi a UniEscolar  para facilitar a união entre ambos.        
                    </p>
                                        
                </div>
                                              
                
            </section>
        </article>
  

{%endblock%}        