{%extends 'base.html'%}

{%block title%}Localizacao{%endblock%}

{%block content%}

<article>
    <!--Imagems-->
    
    <section id="content" class="mb-5">
        <div id="banners" class="m-auto w-75">
            <img src="../static/img/rastreamento02.jpg" class="img-fluid mb-5 border-img">
        </div>
        <div id="texto" class="m-auto w-75">
            <p style="font-family: Arial, Helvetica, sans-serif;"> 
                Hoje não basta só contrata um serviço de transporte Escolar com tanta tecnologia no mercado, a UniEscolar tais, mas confiança para os pais e responsável.    
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;"> 
                A UniEscolar tem sistema de localização de rota do Transporte Escolar em tempo real.
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;"> 
                Mas segurança para você e seu filho(a) 
            </p>
            
            <a href="http://sistema.buskrastreamento.com.br/sistema/" target="blank">Rota do Tranporte Escolar</a>
        </div>
    </section>
</article>



{%endblock%}    