<!DOCTYPE html>

<html lang='pt-br'>

    <head>

        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }} ">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

        <title>Formulário</title>

    </head>
    
    <body class="bg-light">

        <header id="header" class="mb-3">
            <nav class="navbar navbar-light navbar-expand-sm bg-warning">
                <!--Logo-->
                <a href="/" class="navbar-brand" style="font-size: 2em;">Uniescolar</a>

            </nav>
        </header>


        <main>
            <!--API Gforn -->
            <article>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSealkpA22UB4nIV7aWKR6jaWp1yVCaDsYuObnOBnznhlovqHQ/viewform?embedded=true" width="640" height="600" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
            </article>
        </main>

        <!--API para libras-->
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
          <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
          <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
          </script>
    </body> 

</html>