<!DOCTYPE html>

<html lang='pt-br'>

   <head>
      <meta charset="UTF-8">
      <meta name='viewport' content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }} ">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Transporte_Uni_Escolar</title>
    </head>

    <body>
        <header id="header">
            <nav>
                <a href="/">
                    <img src=" {{ url_for('static', filename='img/loga.jfif') }}"
                    alt="">
                </a>
                <ul>
                    <li>
                        <a href="/cadastro">Transportador</a>
                    </li>
                    <li>
                        <a href="">Responsaveis</a>
                    </li>
                    <li>
                        <a href="">Escola</a>
                    </li>
                    <li>
                        <a href="/consultar">Consultar</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="banner">
            <div>
                <h1>
                    Transporte Uni Escolar
                </h1>
            </div>

        </section>
        

    </body>

</html>